<td>
  <a href="{{userUrl}}" target="_blank">{{userName}}</a>
</td>
<td>
  <a href="{{scheduleOneUrl}}" target="_blank">{{scheduleOneName}}</a>
  <a href="{{scheduleTwoUrl}}" target="_blank">{{scheduleTwoName}}</a>
</td>
<td>
  {{dateString}}
</td>
